<section class="brooklyn">
  <header class="header">
    <h1>Nine Nine!</h1>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" href="/?season=6" class="btn btn-secondary">6</a>
        <a type="button" href="/?season=5" class="btn btn-secondary">5</a>
        <a type="button" href="/?season=4" class="btn btn-secondary">4</a>
        <a type="button" href="/?season=3" class="btn btn-secondary">3</a>
        <a type="button" href="/?season=2" class="btn btn-secondary">2</a>
        <a type="button" href="/?season=1" class="btn btn-secondary">1</a>
      </div>
  </header>

  <section class="main">
    <ul class="brooklyn99 col-10 offset-1">
     
    </ul>
  </section>
</section>

