<section class="brooklyn">
  <header class="header">
    <h1>Nine Nine!</h1>
      <!-- <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">6</button>
        <button type="button" class="btn btn-secondary">5</button>
        <button type="button" class="btn btn-secondary">4</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">1</button>
      </div> -->
  </header>

  <section class="main">
    <ul class="brooklyn99">
      <div class="col-3">
        
      </div>
    </ul>
  </section>
</section>

